<div>
    @model ECommerce.Models.Customer

</div>
<div id="header">
    <a href="dashboard">Dashboard</a>
    <a href="products">Products</a>
    <a href="orders">Orders</a>
    <a href="customers">Customers</a>
    <a href="settings">Settings</a>
</div>
<h1>Add a new Customer</h1>
<form asp-controller="Home" asp-action="AddCustomer" method="post">
    <span asp-validation-for="Name"></span>
    <label asp-for="Name"></label>
    <input asp-for="Name" type="text">
    <button type="submit">Add</button>
</form>