@{
    ViewData["Title"] = "Home Page";
}

<div id="header">
    <a href="dashboard">Dashboard</a>
    <a href="products">Products</a>
    <a href="orders">Orders</a>
    <a href="customers">Customers</a>
    <a href="settings">Settings</a>
</div>
<div class="leftbox">
    <div class="search">
        <form action="/search" method="post">
            <input type="search" name="filter" id="filter">
        </form>
    </div>
</div>
<div class="main">

</div>